<!DOCTYPE html>
<html lang="en">

<div class="row mt-3" th:fragment="footer" style="background-color: #f8f9fa;">
    <div class="col"></div>
    <div class="col mt-3">
        <p class="text-center" style="color: #0000008c">『美食地圖』後台管理系統</p>
        <p class="text-center fst-italic" style="color: #0000008c"> 此網站係由作者參加『Java程式暨資料庫開發設計培訓班』之結訓專題為基底，以Spring Boot重構之專案。</p>
        <div class="mb-3 position-relative start-50">
            <img class="me-2" th:src="@{/image/GitHub-Mark-32px.png}"><a href="https://github.com/ptttkboy/Android-SpringBoot-Project">GitHub</a>
        </div>
    </div>
    <div class="col"></div>
</div>

</html>